.footer {
  position: relative;
  height: 500px;
  width: 100%;
  scroll-snap-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    height: 100%;
  }
}
