.custom-map-container {
  background-color: black;
  filter: saturate(0.5);
  // -webkit-filter: grayscale(100%);
  -webkit-filter: contrast(75%);
  width: 200px;
  height: 150px;

  // @media (max-width: 768px) {
  //   height: 200px;
  // }
}

.leaflet-pane leaflet-marker-pane {
  background-color: black;
}

.leaflet-bottom {
  &.leaflet-right {
    display: none;
  }
}
