.custom-map-container {
  background-color: black;
  filter: saturate(0.5);
  -webkit-filter: contrast(75%);
  width: 400px;
  height: 250px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.leaflet-pane leaflet-marker-pane {
  background-color: black;
}

.leaflet-bottom {
  &.leaflet-right {
    display: none;
  }
}
