.css-kq5oaw[data-status="complete"] {
  background: #343a59 !important;
}

.chakra-stepper {
  gap: 0 !important;
}

.chakra-step {
  justify-content: center !important;
}

.chakra-step__indicator {
  width: 28px !important;
  height: 28px !important;
}

.chakra-step__title {
  line-height: 16px !important;
}

.chakra-step__description {
  font-size: 11px !important;
}
