.footer {
  position: relative;
  height: 150px;
  width: 100%;
  scroll-snap-align: center;
  overflow: hidden;
  background-color: #e9bfc0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
